<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="mgDevelop" value="http://www.mattgerega.com:1981/nuget/develop/" />
  </packageSources>
    <packageSourceCredentials>
  <mgDevelop>
    <add key="Username" value="nuget" />
    <add key="ClearTextPassword" value="Y4dqwHfPb0VKsNPSuxNL" />
  </mgDevelop>
</packageSourceCredentials>
</configuration>